<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-5 col-sm-8">
        <p>Pour tout renseignement, contactez-nous : easyplombierweb@gmail.com, 06 75 17 17 81</p>
      </div>
    </div>
  </div>
</div>

<!-- <i class="fa fa-envelope"></i> -->
<!-- <i class="fa fa-phone"></i> -->
