<div class="modal fade" id="myModalPrice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel"><b>Tarifs</b> d'EasyPlombier :</h3>
      </div>
      <div class="modal-body">
        <li><strong>Prédiagnostic </strong>: une fois votre panne envoyée via notre formulaire, nous vous envoyons un email avec votre prédiagnostic personnalisé <strong>gratuit</strong></li>
        <li><strong>Diagnostic </strong>: le prix de notre rendez-vous à distance par vidéo (qui durera entre 15min et 30min) est de <strong>15€</strong></li>
        <li><strong>Dépannage </strong>: si la panne n'est pas résolue pendant la phase de diagnostic, nous fixons un nouveau rendez-vous à distance dont le prix sera fonction de la panne et des éventuelles pièces de rechange</li>
      </div>
    </div>
  </div>
</div>
