<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Comment <b>EasyPlombier</b> fonctionne :</h3>
      </div>
      <div class="modal-body">
        <li><strong>Étape 1 </strong>: décrivez votre panne grâce au formulaire en ligne</li>
        <li><strong>Étape 2 </strong>: nous vous envoyons un email avec votre prédiagnostic</li>
        <li><strong>Étape 3 </strong>: une fois votre règlement de 15€ reçu par virement bancaire, nous réalisons avec vous un diagnostic par vidéo via Skype ; si la panne est simple, nous la réparons ensemble en 30min, sinon nous vous envoyons par email un ordre de réparation (incluant ou non des pièces de rechange à recevoir sous 48h)</li>
        <li><strong>Étape 4 </strong>: une fois votre règlement reçu, nous procédons à la réparation par vidéo via Skype, avec ou sans pièce de rechange</li>
      </div>
    </div>
  </div>
</div>
