.features img {
  width: 165px;
  padding: 6px;
}
.features h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.features p {
  font-size: 15px;
  font-weight: lighter;
}
.padded-top {
  padding-top: 1em;
}
.features-card img {
  width: 165px;
  padding: 6px;
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.features-card h1 {
  font-size: 38px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
